$border-radius: 5px

body
  font-family: $body-ff
  letter-spacing: $body-ls
  color: $qicq-light-gray

h1
  font-family: $header-ff
  color: $qicq-red

h2, h3, h4, h5, h6
  font-family: $nav-ff
  color: $qicq-dark-gray

label
  color: $qicq-light-gray

.grid-container
  max-width: 64rem

.page-title
  text-align: center
  font-size: $h3
  line-height: 0.9
  color: $qicq-dark-gray
  margin-bottom: $default-margin
  @media #{$medium}
    text-align: left
    font-size: $h2
    line-height: 0.7
    margin-bottom: $default-margin * 2
