.masthead
  background-color: $qicq-dark-gray
  padding: 12px 0
  @media #{$medium}
    padding: 20px 0

.masthead__logo
  display: flex
  justify-content: center
  @media #{$medium}
    justify-content: left
  .imgc
    display: inline-block
    width: 125px
    @media #{$medium}
      width: 175px

.shop__nav
  display: inline-block

.nav__link
  display: inline-block
  font-family: $nav-ff
  line-height: 1
  color: $white
  &:hover
    color: $qicq-logo-blue
  &:focus
    color: $white

.nav__link--masthead
  font-size: $nav-fs
  letter-spacing: $body-ls
  margin-right: $even-more
  @media #{$large}
    margin-right: $double
  &.nav__link--cart
    float: right
    text-align: right
    margin-right: 0
    position: relative
    top: $half
    +icon-link($fa-shopping-basket)
    .link__label
      display: none

.nav__link--ocm
  font-size: $nav-fs
  letter-spacing: $body-ls
  padding: 0.5em
  &.nav__link--cart
    .fa
      margin-right: 8px

.link__sublabel
  font-family: $subnav-ff
  font-size: $subnav-fs

.cart__quantity
  margin-left: $default-margin / 2
