.overview__filters
  text-align: center
  margin-bottom: $default-margin
  @media #{$medium}
    text-align: left
    margin-bottom: $default-margin * 1.5

.overview__filter-button
  font-size: 0.75rem
  margin-right: 8px
  margin-bottom: 0
  &:last-child
    margin-right: 0
  @media #{$medium}
    font-size: 1rem

.overview__product
  border-radius: $border-radius
  border: 1px solid $qicq-logo-blue
  margin-bottom: $default-margin
  @media #{$medium}
    height: 424px
    margin-bottom: $default-margin * 1.5
  &:hover,
  &:focus
    color: $black

.overview__product-name
  background-color: $qicq-logo-blue
  color: $white
  font-family: $nav-ff
  font-size: $h5
  line-height: 1.1
  padding: 0.7rem 1rem
  margin-bottom: $default-margin / 2


.overview__product-summary
  font-size: 13px

.overview__product-price
  font-family: $nav-ff
  font-size: $h5
  // font-weight: bold
  line-height: 1
  color: $qicq-logo-blue
