extends _default

mixin input(for, label, type)
	.small-3.columns
		label #{label}
	.small-9.columns
		Field(name=for component="input" type=type)

block head
	- var pageTitle = 'QonQer Webshop | Order Form'
	- var companyName = 'QonQer'
	- var bodyClass = 'qonqer__order-form'

block content
	form
		.row
			+input('firstName', 'Voornaam', 'text')
				
			
