@charset "UTF-8";
.imgc img, .imgc svg {
  max-width: 100%;
  width: 100%; }

.xlist {
  margin: 0;
  padding: 0;
  list-style: none; }

.hlist li {
  display: inline-block; }

@font-face {
  font-family: "HelveticaNeue Black Condensed";
  src: url("https://www.qicq.nl/css/fonts/692743/a6949d17-6d8e-42ab-8032-2d9cb114c1b4.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "HelveticaNeue Roman";
  src: url("https://www.qicq.nl/css/fonts/692692/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "HelveticaNeue Bold";
  src: url("https://www.qicq.nl/css/fonts/692716/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "HelveticaNeue Bold Condensed";
  src: url("https://www.qicq.nl/css/fonts/692722/102ab74c-0e84-4fe5-a17a-b20fb643591a.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "HelveticaNeue Condensed";
  src: url("https://www.qicq.nl/css/fonts/692698/842088d0-1ae2-40d0-8561-3c95761ba7a6.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "HelveticaNeue Roman", Arial, sans-serif;
  letter-spacing: 0.5pt;
  color: #868e96; }

h1 {
  font-family: "HelveticaNeue Black Condensed", Arial, sans-serif;
  color: #e7002d; }

h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue Bold Condensed", Arial, sans-serif;
  color: #272727; }

label {
  color: #868e96; }

.grid-container {
  max-width: 64rem; }

.page-title {
  font-size: 40px;
  line-height: 0.7;
  margin-bottom: 32px; }

.buttons-grouped .button {
  margin-right: 16px; }
  .buttons-grouped .button:last-child {
    margin-right: 0; }

.button .main {
  font-size: 20px; }

.button .sub {
  display: block;
  margin-top: 8px;
  font-size: 14px; }

.button.selected {
  font-family: "HelveticaNeue Bold Condensed", Arial, sans-serif;
  letter-spacing: 0.3pt;
  background-color: #289ad5;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 0; }
  .button.selected:hover {
    background-color: #207baa;
    color: #fff; }
  .button.selected.hollow {
    background-color: transparent; }
    .button.selected.hollow.selected, .button.selected.hollow:hover {
      background-color: #289ad5;
      color: #fff;
      border-color: #289ad5; }
  .button.selected .arrow-left {
    border-right-color: #289ad5; }
  .button.selected .arrow-right {
    border-left-color: #fff; }

.button.not-selected {
  font-family: "HelveticaNeue Bold Condensed", Arial, sans-serif;
  letter-spacing: 0.3pt;
  background-color: #868e96;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 0; }
  .button.not-selected:hover {
    background-color: #6c757d;
    color: #fff; }
  .button.not-selected.hollow {
    background-color: transparent; }
    .button.not-selected.hollow.selected, .button.not-selected.hollow:hover {
      background-color: #868e96;
      color: #fff;
      border-color: #868e96; }
  .button.not-selected .arrow-left {
    border-right-color: #868e96; }
  .button.not-selected .arrow-right {
    border-left-color: #fff; }

.button.primary {
  font-family: "HelveticaNeue Bold Condensed", Arial, sans-serif;
  letter-spacing: 0.3pt;
  background-color: #289ad5;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 0; }
  .button.primary:hover {
    background-color: #207baa;
    color: #fff; }
  .button.primary.hollow {
    background-color: transparent; }
    .button.primary.hollow.selected, .button.primary.hollow:hover {
      background-color: #289ad5;
      color: #fff;
      border-color: #289ad5; }
  .button.primary .arrow-left {
    border-right-color: #289ad5; }
  .button.primary .arrow-right {
    border-left-color: #fff; }

.button.secondary {
  font-family: "HelveticaNeue Bold Condensed", Arial, sans-serif;
  letter-spacing: 0.3pt;
  background-color: #868e96;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 0; }
  .button.secondary:hover {
    background-color: #6c757d;
    color: #fff; }
  .button.secondary.hollow {
    background-color: transparent; }
    .button.secondary.hollow.selected, .button.secondary.hollow:hover {
      background-color: #868e96;
      color: #fff;
      border-color: #868e96; }
  .button.secondary .arrow-left {
    border-right-color: #868e96; }
  .button.secondary .arrow-right {
    border-left-color: #fff; }

.button.success {
  font-family: "HelveticaNeue Bold Condensed", Arial, sans-serif;
  letter-spacing: 0.3pt;
  background-color: #7CBB1F;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 0; }
  .button.success:hover {
    background-color: #5f8f18;
    color: #fff; }
  .button.success.hollow {
    background-color: transparent; }
    .button.success.hollow.selected, .button.success.hollow:hover {
      background-color: #7CBB1F;
      color: #fff;
      border-color: #7CBB1F; }
  .button.success .arrow-left {
    border-right-color: #7CBB1F; }
  .button.success .arrow-right {
    border-left-color: #fff; }

.button-group .button {
  margin-right: 5px; }

.button.large {
  padding: 0.7em 1em; }

.button .arrow {
  display: inline-block;
  position: relative;
  top: 2px; }

.button .arrow-left {
  margin-right: 7px; }

.button .arrow-right {
  margin-left: 7px; }

.button--color {
  position: relative;
  top: 3px;
  left: 3px;
  margin-right: 11px !important;
  border: 3px solid #fff;
  outline: 3px solid #fff; }

.button--black {
  background-color: #000;
  color: #fff; }
  .button--black:hover {
    background-color: #000;
    color: #fff; }

.button--white {
  background-color: #FFFFFE;
  color: #000;
  border: 3px solid #e9ecef; }
  .button--white:hover {
    background-color: #FFFFFE;
    color: #000; }

.button--silver {
  background-color: #C0C0C0;
  color: #000; }
  .button--silver:hover {
    background-color: #C0C0C0;
    color: #000; }

.button--audi-brown {
  background-color: #3F250B;
  color: #fff; }
  .button--audi-brown:hover {
    background-color: #3F250B;
    color: #fff; }

.button--green {
  background-color: #28a745;
  color: #fff; }
  .button--green:hover {
    background-color: #28a745;
    color: #fff; }

.button.chosen-color {
  outline: 3px solid #289ad5;
  border: 3px solid #fff; }

.masthead {
  background-color: #272727;
  padding: 20px 0; }

.masthead__logo {
  width: 175px; }

.nav__link {
  display: inline-block;
  font-family: "HelveticaNeue Bold Condensed", Arial, sans-serif;
  font-size: 1.188rem;
  line-height: 1;
  letter-spacing: 0.5pt;
  color: white;
  margin-right: 32px; }
  .nav__link:hover {
    color: #6ea8bc; }
  .nav__link--cart {
    float: right;
    text-align: right;
    margin-right: 0; }
    .nav__link--cart::before {
      font-family: FontAwesome;
      font-weight: normal;
      display: inline-block;
      content: "";
      width: 32px;
      color: inherit; }
    .nav__link--cart .link__label {
      display: none; }

.link__sublabel {
  font-family: "HelveticaNeue Condensed", Arial, sans-serif;
  font-size: 0.688em; }

.cart__quantity {
  margin-left: 8px; }

.footer {
  background-color: #272727;
  padding: 32px 0; }

.footer__list--social {
  margin-top: 8px; }
  .footer__list--social li {
    display: inline-block;
    width: 60px; }

.footer__link {
  font-family: "HelveticaNeue Roman", Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.5pt;
  color: #868e96; }
  .footer__link:hover {
    color: #fff; }
  .footer__list--contact .footer__link,
  .footer__list--social .footer__link {
    font-family: "HelveticaNeue Bold Condensed", Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    height: 40px; }
    .footer__list--contact .footer__link:hover,
    .footer__list--social .footer__link:hover {
      color: #6ea8bc; }
  .footer__list--social .footer__link .link__label {
    display: none; }
  .footer__link--telefoon::before {
    font-family: FontAwesome;
    font-weight: normal;
    display: inline-block;
    content: "";
    width: 32px;
    color: #e7002d;
    font-size: 1.6em;
    line-height: 0.4;
    position: relative;
    top: 4px; }
  .footer__link--email::before {
    font-family: FontAwesome;
    font-weight: normal;
    display: inline-block;
    content: "";
    width: 32px;
    color: #e7002d; }
  .footer__link--twitter::before {
    font-family: FontAwesome;
    font-weight: normal;
    display: inline-block;
    content: "";
    width: 32px;
    color: inherit; }
  .footer__link--facebook::before {
    font-family: FontAwesome;
    font-weight: normal;
    display: inline-block;
    content: "";
    width: 32px;
    color: inherit; }
  .footer__link--linkedin::before {
    font-family: FontAwesome;
    font-weight: normal;
    display: inline-block;
    content: "";
    width: 32px;
    color: inherit; }

.overview__filters {
  margin-bottom: 32px; }
  .overview__filters .button {
    margin-right: 8px;
    margin-bottom: 0; }

.overview__product {
  border-radius: 5px;
  border: 1px solid #6ea8bc;
  height: 424px;
  margin-bottom: 32px; }
  .overview__product:hover, .overview__product:focus {
    color: #000; }

.overview__product-name {
  background-color: #6ea8bc;
  color: #fff;
  font-family: "HelveticaNeue Bold Condensed", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.1;
  padding: 0.7rem 1rem;
  margin-bottom: 8px; }

.overview__product-summary {
  font-size: 13px; }

.overview__product-price {
  font-family: "HelveticaNeue Bold Condensed", Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
  color: #6ea8bc; }

.card__header {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  line-height: 1; }
  .card--main .card__header {
    font-size: 20px;
    padding: 0.9rem; }
  .card--sidebar .card__header {
    font-size: 16px;
    padding: 0.7rem 0.9rem; }

.cart__empty {
  color: #868e96; }

.cart__item {
  margin-bottom: 16px; }
  .cart__item:last-child {
    margin-bottom: 0; }

.cart__product-visual {
  border: 1px solid #e9ecef; }

.cart__product-name,
.cart__product-price,
.cart__total-name,
.cart__total-price {
  font-family: "HelveticaNeue Bold Condensed", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.3; }

.cart__product-name a {
  color: #272727; }

.cart__option-name,
.cart__option-price {
  font-size: 16px; }

.cart__option-name {
  font-family: "HelveticaNeue Roman", Arial, sans-serif; }

.cart__option-price {
  font-family: "HelveticaNeue Condensed", Arial, sans-serif; }

.cart__remove {
  font-size: 12px;
  position: relative;
  top: -2px; }

.product__choices {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 4px; }
  .product__choices span {
    font-family: "HelveticaNeue Bold", Arial, sans-serif; }

.cart__total-name {
  text-transform: uppercase; }

.cart__button-next {
  float: right; }

.form-customer-info label {
  font-weight: bold;
  font-size: 16px;
  line-height: 2.1rem; }

.form-customer-info [type='text'] {
  height: 2.1rem;
  line-height: 1.1; }

.form-customer-info select {
  line-height: 1.4; }

.form-error {
  display: block !important; }

.fa-check {
  font-size: 20px;
  margin-left: 9px;
  position: relative;
  top: 5px;
  color: #28a745; }

.order-step__header {
  width: 91.66667%;
  color: #007bff;
  font-size: 31px;
  line-height: 1;
  margin-bottom: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid #cce5ff; }

.order-step__number {
  color: #99caff;
  margin-right: .25em; }

.order-step__button {
  margin-top: 8px;
  margin-bottom: 32px; }
  .order-step__button .fa {
    font-size: 0.8em;
    margin-left: 4px; }

.product__summary,
.product__price,
.product__options {
  margin-bottom: 16px; }

.product__visual {
  height: 312px; }
  .product__visual img {
    max-height: 100%; }

.product__price {
  font-family: "HelveticaNeue Bold Condensed", Arial, sans-serif;
  font-size: 31px;
  line-height: 0.7;
  color: #272727; }

.product__checkbox {
  margin-bottom: 0; }

.options__label {
  font-size: 16px; }

.product__order .button {
  font-weight: bold; }

.masthead,
.content {
  margin-bottom: 24px; }

/*# sourceMappingURL=style.css.map */