@import grid-variables

@import utils

@import margins

@import colors

@import fonts

@import font-awesome

@import global

@import buttons

@import card

@import burger-menu

@import masthead

@import footer

@import overview

@import cart

@import form-customer-info

@import order-steps

@import product

@import thank-you

.masthead,
.content
  margin-bottom: $default
  @media #{$large}
    margin-bottom: $more

.content
  &.overview
    margin-bottom: 0
